.App {
  padding: 20px 20px 20px 100px;
  background-color:  #f2f2f2;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

.Auth {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  position: absolute;
  top: 0;
  left: 0;
  /* display:flex; */
  /* text-align: center;  */
  justify-content: center;
  color: white;
  /* flex-direction: row; */
}

.auth-container {
  border-radius: 10px;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25),
              0 10px 10px 0 rgba(0,0,0,.26);
  background-image: linear-gradient(#e66465, #9198e5);
  height: 45vh;
  width: 35vw;
  margin: 200px auto;
  display:flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.Dash {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-size: small;
  vertical-align: baseline;
  align-items: center;
  box-sizing: inherit;
  display: block;  
}

.dash_filter {
  display: flex;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
              0 1px 2px 0 rgba(0,0,0,.2);
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.dash_search_box {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

.post-box {
  background-image: linear-gradient(#e66465, #9198e5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  align-items: center;
  padding: 1px 10px 10px 10px;
  border-radius: 2px;
}

p {
  color: black;
}

.dash_search_bar {
  height: 20px;
  width: 45%;
  box-sizing: inherit;
}

.dash_search_button {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(#e66465, #9198e5);
  border-radius: 3px;
  margin: 1px;
  padding: 2px;
}

#dash_reset {
  height: 30px;
  padding: 5px 10px;
}

.my_post {
  box-sizing: inherit;
  display: flex;
  width: 70px;
  height: 30px;
  text: center;
}

.dash_check_box {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
}

.form_content_box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  width: calc(100% - 100px);
  height: 700px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
}

.form-input {
  width: 50%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: inherit;
}

.form-text {
  width: 50%;
  margin: 3px auto 10px;
}

.post_content_box {
  border-radius: 2px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  width: calc(100% - 100px);
  height: 700px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
}

.content_box_dash_post_box {
  background-color: white;
  border-radius: 2px;
  margin: 5px;
  align-items: center;
  width: 150px;
  height: 150px;
}

.user-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
              0 1px 2px 0 rgba(0,0,0,.2);
  justify-content: center; 
  align-items: center;
  scroll-margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.profile_pic {
  width: 125px;
  height: 125px;
  background-color: white;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0 10px #e66465;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}